# virtual environment
.venv/

# environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# TensorFlow model (old format)
*.h5

# SavedModel folder (TensorFlow export)
saved_model/


# converter script
converter.py